{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/homepage.css' %}">
{% block content %}
    <div class="main-container" >
        {% csrf_token %}
        <div class="navbar-nav">
            
            {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
          <div><h2>Welcome on the homepage</h2></div>
        <div>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reports
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'download' %}">CSV File</a></li>
              <li><a class="dropdown-item" href="#">PDF File</a></li>
            </ul>
          </li>
        </div>
        <div>
          <form role="form" method='post' action="{% url 'download' %}">
            <tr>
             {% csrf_token %}
             <td> Year <select name="year">
                 
              <option value="2020">2020</option>
              <option value="2021">2021</option>
           </select></td>
                <td> Period <select name="month" value="">

                   <option value="1">January</option>
                   <option value="2">February</option>
                   <option value="3">March</option>
                   <option value="4">April</option>
                   <option value="5">May</option>
                   <option value="6">June</option>
                   <option value="7">July</option>
                   <option value="8">August</option>
                   <option value="9">September</option>
                   <option value="10">October</option>
                   <option value="11">November</option>
                   <option value="12">December</option>
                   <option value="13">Q1</option>
                   <option value="14">Q2</option>
                   <option value="15">Q3</option>
                   <option value="16">Q4</option>
                    </select></td>
                
                <td> Country <select name="year">
                  <option value="2010">Belgium</option>
                  <option value="2011">Luxembourg</option>
                  <option value="2012">Netherlands</option>
                  
               </select></td>
           <td>
           <input type='submit' value='Download' />
           </td>
           </tr>
           </form>
        </div>

    </div>
{% endblock content %}